<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pictweet powerd by python</title>
<!-- sass読み込み -->
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'pictweet/css/style.scss' %}" type="text/css">

<!-- rails-pictweetのjavascript -->
<!--     <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script> -->
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">PicTweet</a></h1>
        <!-- サインイン判定 -->
        {% if request.user.is_authenticated %}
        <!-- true -->
          <div class="user_nav grid-6">

            <!-- ログインユーザ名 -->
            {{ user.get_username }}
            <!-- <span>username -->
              <!-- <ul class="user__info"> -->
                <!-- <li> -->

                  <!-- マイページリンク -->
                  <!-- <a href="/users/<%= current_user.id %>">マイページ</a> -->
                  <a class="post">マイページ</a>

                  <!-- ログアウト -->
                  <!-- <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> -->
                  <a href="../accounts/logout/" class="post">ログアウト</a>

                <!-- </li> -->
              <!-- </ul> -->
            <!-- </span> -->

            <!-- 投稿ボタン -->
            <!-- <a class="post" href="/tweets/new">投稿する</a> -->
            <a href="./new/" class="post">投稿する</a>

          </div>

        <!-- ifのelse -->
        {% else %}

          <div class="grid-6">

            <!-- ログインボタン -->
            <a href="../accounts/login/" class="post">ログイン</a>

            <!-- 新規登録ボタン -->
            <a href="../accounts/signup/" class="post">新規登録</a>

          </div>

        <!-- ifの終了 -->
        {% endif %}

      </div>
    </header>
    {% block body %}
    {% endblock %}
<!--     <footer>
      <p>
        Copyright PicTweet 2014.
      </p>
    </footer> -->
  </body>
</html>
