<!DOCTYPE html>
<html>
  <head>
    <title>Pictweet powerd by python</title>
    {% csrf_token %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'pictweet/css/style.scss' %}" type="text/css">
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="{% url 'index' %}">PicTweet</a></h1>
        {% if user.is_authenticated %}
          <div class="user_nav grid-6">
            <span>{{ user.username }}
              <ul class="user__info">
                <li>
                  <a href="{% url 'mypage' %}{{user.id}}">マイページ</a>
                  <a href="{% url 'logout' %}">ログアウト</a>
                </li>
              </ul>
            </span>
            <a href="./new/" class="post">投稿する</a>
          </div>
        {% else %}
          <div class="grid-6">
            <a href="{% url 'login' %}" class="post">ログイン</a>
            <a href="{% url 'accounts:signup' %}" class="post">新規登録</a>
          </div>
        {% endif %}
      </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
      <p>
        Copyright PicTweet 2014.
      </p>
    </footer>
  </body>
</html>
